<p id="notice"><%= notice %></p>

<p>
  <strong>Indicator:</strong>
  <%= @indicator_value.indicator %>
</p>

<p>
  <strong>Value:</strong>
  <%= @indicator_value.value %>
</p>

<%= link_to 'Edit', edit_indicator_value_path(@indicator_value) %> |
<%= link_to 'All Indicator Values', indicator_values_path %>
