<p id="notice"><%= notice %></p>

<p>
  <strong>Report:</strong>
  <%= @chapter.report %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @chapter.indicator %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
