<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_rating.user %>
</p>

<p>
  <strong>Rateable:</strong>
  <%= @user_rating.rateable_id %>
</p>

<p>
  <strong>Rateable type:</strong>
  <%= @user_rating.rateable_type %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @user_rating.rating %>
</p>

<%= link_to 'Edit', edit_user_rating_path(@user_rating) %> |
<%= link_to 'Back', user_ratings_path %>
