<h1>Listing solutions</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Chapter</th>
      <th>Order</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @solutions.each do |solution| %>
      <tr>
        <td><%= solution.description %></td>
        <td><%= solution.chapter %></td>
        <td><%= solution.order %></td>
        <td><%= link_to 'Show', solution %></td>
        <td><%= link_to 'Edit', edit_solution_path(solution) %></td>
        <td><%= link_to 'Destroy', solution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solution', new_solution_path %>
