<h1>Listing solutions</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Values', values_path %></th>
      <th><%= link_to 'Stakeholder', stakeholders_path %></th>
      <th>Solution in Chapter</th>
      <th>Chapter in Report</th>
      <th>Ratings</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @solutions.each do |solution| %>
      <tr>
        <td><%= solution.indicator.value_summary %></td>
        <td><%= solution.indicator.stakeholder_summary %></td>
        <td><%= link_to solution.summary, solution %></td>
        <td><%= link_to solution.chapter.summary, solution.chapter %></td>
        <td><%= solution.mean_calculated_ratio  %> (<%= solution.number_of_ratings  %>)</td>
        <td><%= link_to 'Destroy', solution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solution', new_solution_path %>
